/* Es bastante innecesario, mas que nada lo cree para poner en practica todo lo visto */
.contenedor-venta{
    width: 22vw;
    height: 32vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
        
}




