$paleta-colores:(
    principal: rgb(3, 3, 133),
    opuesto: #e25f23,
    fuente-claro: #fff,
    fuente-oscuro: #000,
    gris: rgb(218, 218, 218),
    gris-oscuro:rgb(63, 63, 63),
    premium: #fdd252,
    premium-oscuro: #a87800,
);

$fuentes: (
    titulo: "Poetsen One", 
    principal: "Nunito", 
    secundaria: "Roboto", 
    premium: "Satisfy", 
);