/* Colores que se usan poco */
$boton-fondo: rgb(176, 176, 176);
$boton-fondo-hover: rgb(112, 112, 112);
$boton-color-fuente:rgb(255, 255, 255);
$sombra-luz-galeria: 0 0 15px 6px;
$color-luz-galeria:rgba(188, 116, 21, 0.7)
